@import '../../sass/colors';

.sass-ForgotPasswordForm {
    color: $secondary-color;
    font-weight: 600;
    min-width: 700px;

    .btn {
        margin-top: 20px;
        background-color: $primary-color;
        color: $fourth-color;
        font-weight: 600;

        transition: all 0.5s;
    }

    .btn:hover {
        color: $primary-color;
        background-color: $fourth-color;
    }

    .card-body {
        display: flex;
        flex-direction: column;

        .loader {
            align-self: center;
        }
    }
}