@import '../../sass/colors';

.sass-LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;

    h1 {
        margin: 50px 0px 50px 0px;
    }
}