@import '../../../sass/colors';

$coverSize: 70;

.sass-Books {

    .load {
        margin-top: 50px;
    }

    .body {
        height: 450px;
    }
    
    .books {
        margin-top: 30px;
        height: 450px;
    }

    .list-group {
        border: 1px solid $secondary-color;
        overflow-y: auto;
        height: 100%;
    }

    .list-group-item {
        display: flex;
        transition: all 0.2s;

        img {
            width: $coverSize;
            height: $coverSize * 1.6;
        }

        .book-info {
            margin: 20px 20px;
        }
    }

    .list-group-item:hover {
        cursor: pointer;
        background: rgba(0,0,0,0.1);
    }
}