@import '../../sass/colors';

$coverSize: 200;

.sass-Catalog {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-flow: row wrap;
    height: 100%;

    .card {
        margin: 50px 0px;
        width: 40%;
        height: 300px;
        border-radius: 0;
        box-shadow: 0px 0px 15px #8a8a8a;
    }

    .load {
        width: 50%;
        background: transparent;
        box-shadow: none;
        border: none;
        display: flex;
        justify-content: center;
    }

    .books {
        width: 100%;
        height: 100%;

        .header {
            display: flex;
            flex-direction: row;
            margin: 50px 0px;
            color: $secondary-color;
            
            i {
                margin: 0px 20px;
                font-size: 50px;
            }

            h4 {
                font-weight: bold;
                font-size: 40px;
            }
        }

        .body {
            display: flex;
            flex-direction: row;
            flex-flow: row wrap;

            .noBooks {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                color: #8a8a8a;
                
                img {
                    width: 200px;
                }

                h2 {
                    margin-top: 20px;
                }
            }

            .book {
                width: 25%;
                margin-top: 20px;

                display: flex;
                flex-direction: column;
                align-items: center;
                color: $fourth-color;

                transition: all 0.5s;

                .info {
                    position: relative;

                    img {
                        border-radius: 10px;
                        width: $coverSize;
                        height: $coverSize*1.6;
                        box-shadow: 0px 0px 15px #8a8a8a;
                    }

                    .vote {
                        position: absolute;
                        left: $coverSize - 55px;
                        -webkit-transform: translateY(-70%);
                        -moz-transform:    translateY(-70%);
                        -ms-transform:     translateY(-70%);
                        -o-transform:      translateY(-70%);
                        transform:         translateY(-70%);
                        border-radius: 50%;
                        width: 70px;
                        height: 70px;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 0px 0px 15px #8a8a8a;

                        p {
                            margin: 0;
                            color: white;
                            font-weight: bold;
                            font-size: 1.5em;
                        }
                    }

                    .green {
                        background: #5CB85C;
                    }

                    .red {
                        background: #D9534F;
                    }

                    .grey {
                        background: #292B2C;
                    }

                    .book-info {
                        padding-top: 20px;

                        .title {
                            h2 {
                                font-size: 1.5em;
                                width: $coverSize;
                                font-weight: bold;
                                margin: 0;
                            }
                        }

                        .authors {
                            p {
                                font-size: 0.9em;
                                width: $coverSize;
                                font-weight: bold;
                            }
                        }

                        .availability {
                            p {
                                font-size: 0.9em;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .book:hover {
                cursor: pointer;
                color: $secondary-color;
                text-decoration: none;

                -webkit-filter: contrast(150%);
                filter: contrast(150%);
            }

            .notAvailable {
                opacity: 0.3;
            }
        }
    }    
}