@import '../../sass/colors';

$coverSize: 50;

.sass-lend {
    display: flex;
    justify-content: space-between;
    margin-top : 50px;

    .left {
        display: flex;
        flex-direction: column;
        width: 65%;

        .user {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 20px 20px;
    
            h3 {
                margin: auto 20px;
                font-weight: bold;
                color: $secondary-color;
            }
    
            img {
                border-radius: 50%;
                width: 100px;
            }
        }

    }

    .right {
        width: 30%;

    }
    

    .card {
        box-shadow: 0px 0px 30px #8a8a8a;
        color: $primary-color;
        font-weight: bold;
        border-radius: 0px;

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
}