.notify-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    position: fixed;
    top: 13%;
    right: 0;
    
  }
  
  .notify-item {
    width: 400px;
    margin: 5px 10px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background: white;
  }

  .success {
    border: 1px solid #28A745;
    color: #28A745;
  }

  .danger {
    border: 1px solid #DC3545;
    color: #DC3545;
  }
  
  .notify-item {
    border-radius: 10px;
  }
  
  .notify-title {
    font-weight: 700;
  }