@import './colors';

$coverSize: 300;

.ReactModal {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%);

    .add {
        color: $secondary-color;
    }

    .ModalCard {
        background: white;
        width: 500px;
    
        .card-header {
            display: flex;
            align-items: center;
            background: transparent;
            border: none;

            h4 {
                font-weight: bold;
                font-size: 25px;
            }

            i {
                font-size: 40px;
                margin: 0px 10px;
            }
        }
    
        .card-body {
            display: flex;
            flex-direction: column;
            padding-top: 5px;

            p {
                font-weight: bold;
            }
        }
    
        .buttons {
            align-self: flex-end;
    
            button {
                border: none;
                margin: 10px;
                padding: 5px 20px;
                font-weight: bold;
                transition: all 0.5s;
            }
    
            button:hover {
                cursor: pointer;
                color: $secondary-color;
                background: $primary-color;
            }
    
            button:focus {
                outline: none;
            }

            .add {
                color: white;
                background-color: $secondary-color;
            }

            .delete {
                color: white;
                background-color: #D9534F;
            }
    
            .cancel {
                color: white;
                background-color: #5CB85C;
            }

            .update {
                color: $secondary-color;
                border: 1px solid $secondary-color;
            }
        }

        .loadPadding {
            padding: 50px
        }
    }
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}