@import 'colors';

.sass-SearchForm {
    color: $secondary-color;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    .sizeFormBtn {
        background: none;
        border: none;
        color: $secondary-color;
    }

    .sizeFormBtn:hover {
        cursor: pointer;
    }

    .btn {
        color: $fourth-color;
        font-weight: 600;
    }
}