@import '../../sass/colors';

.sass-ShowUser {
    margin-top: 50px;
    height: 80%;
    
    .container {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        height: 100%;

        .flex-column {
            width: 40%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .load {
        width: 100%;
        height: 100%;
    }
}