@import '../../../sass/colors';

$coverSize: 60;

.sass-UserBorrowedBooks {
    width: 30%;
    height: 80%;
    position: absolute;
    right: 20%;

    .header {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
        }

        .fa-plus-circle {
            color: $accept;
            transition: all 0.5s;
        }

        .fa-plus-circle:hover {
            color: $secondary-color;
        }
    }

    .body {
        max-height:100%;
        position:relative;
        overflow-y: auto;
    }

    .list-group {

        .list-group-item {
            display: flex;
            flex-direction: row;
            padding: 0px;
            border: none;
            border-radius: 0px;
            margin: 10px 0px;

            .description {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                margin: 0px 20px;

                p {
                    margin: 0px;
                }

                .titleDiv {
                    width: 55%;

                    .title {
                        color: $secondary-color;
                        font-weight: bold;
                        font-size: 1.5em;
                    }
                }

                .date {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 0px;

                    .acceptDiv {
                        display: flex;
                        justify-content: center;
                        align-self: flex-end;
                        height: 30px;
                        width: 80px;
                        margin: 20px 20px;
                    }

                    .btn {
                        padding: 0px;
                        background: transparent;

                        i {
                            font-size: 30px;
                            color: $accept;
                        }
                    }

                    .btn:hover {
                        cursor: pointer;
                    }

                    p {
                        color: $secondary-color;
                    }
                }
            }
        }

        img {
            width: $coverSize;
            height: $coverSize*1.6;
            border-radius: none;
        }
    }
}