@import '../../sass/colors';

.sass-SearchUser {
    color: $secondary-color;
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn {
        background-color: $primary-color;
        color: $fourth-color;
        font-weight: 600;
        padding: 10px 50px 10px 50px;
        align-self: center;

        transition: all 0.5s;
    }

    .btn:hover {
        color: $primary-color;
        background-color: $fourth-color;
    }

    .loader {
        height: 50px;
        width: 50px;
    }

    .error {
        color: red;
    }
}