@import '../../sass/colors';

.sass-SearchUser {
    color: $secondary-color;
    padding: 30px;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: bold;
    }

    .btn {
        background: $secondary-color;
        margin-top: 20px;

        i {
            color: white;
            font-size: 20px;
        }
    }

    .btn:hover {
        i { 
            color: $secondary-color;
        }

        background-color: $primary-color;
        cursor: pointer;
    }

    .error {
        color: red;
        font-weight: bold;
        text-align: center;
    }
}