@import '../../sass/colors';

.sass-Users {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .card {
        border-color: $secondary-color;
        margin: 50px 0px 50px 0px;
    }

    .search-form {
        width: 90%;
    }

    .loader {
        border-top-color: $secondary-color;
    }

    .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        color: $secondary-color;
    }

    .users {
        width: 90%;

        .list-group-item {
            border: none;
            border-bottom: 4px solid $secondary-color;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 100px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
        }

        .avatar {
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
        }

        .userData {
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .user-info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 100%;
            color: $fourth-color;

            .bold {
                font-weight: 600;
            }
        }

        .buttons {
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;

            .delete {
                color: red;
                font-size: 30px;
                padding: 0;

                background: transparent;
                border: none;
            }

            .profile {
                color: green;
                font-size: 30px;
                padding: 0;

                background: transparent;
                border: none;
            }

            button:hover {
                cursor: pointer;
            }

            button:focus {
                outline: 0;
            }

            .red {
                border-top-color: red;
            }

            .loader {
                width: 30px;
                height: 30px;
                border-width: 7px;
            }
        }

        .grey {
            color: grey;
        }

    }
}