@import '../../sass/colors';

.sass-Users {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .card {
        border-color: $secondary-color;
        margin: 50px 0px 50px 0px;
    }

    .search-form {
        width: 90%;
    }

    .users {
        width: 90%;

        .list-group-item {
            border: none;
            border-bottom: 4px solid $secondary-color;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 100px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
        }

        .user-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            color: $fourth-color;

            .bold {
                font-weight: 600;
            }
        }

        .grey {
            color: grey;
        }
    }
}