@import '../../../sass/colors';

.sass-Greetings {
    width: 40%;
    color: $primary-color;

    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            margin: 20px 0px 20px 0px;
            font-weight: bold;
        }

        img {
            border-radius: 50%;
            width: 150px;
        }

        .text {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}