@import '../../sass/colors';

.sass-DropdownNavigation {
  background: $fourth-color;

  .navbar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
  }

  .nav {
    margin-right: 50px;

    .icon {
      margin: 0px 20px;
      position: relative;
      color: $primary-color;
      font-size: 25px;
      align-self: center;
      transition: all 0.5s;

      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        -webkit-transform: translate(40%, -40%);
        -moz-transform:    translate(40%, -40%);
        -ms-transform:     translate(40%, -40%);
        -o-transform:      translate(40%, -40%);
        transform:         translate(40%, -40%);
        padding: 0px;
        border-radius: 50%;
        background: #D9534F;
        width: 20px;
        height: 20px;

        p {
          font-size: 0.7em;
          margin: 0;
        }
      }
    }

    .icon:hover {
      color: $secondary-color;
      cursor: pointer;
    }


    .nav-item {
      display: flex;
      align-items: center;
      flex-direction: column;

      .loading-pulse {
        margin-right: 50px;
      }
    }

    .dropdown-link {
      display: flex;
      flex-direction: row;
      align-items: center;

      color: $secondary-color;
      font-weight: 600;
      font-size: 15px;
      transition: color 0.5s;

      p {
        margin-right: 10px;
        margin-bottom: 0px;
      }

      i {
        font-size: 13px;
      }

      img {
        width: 60px;
        border-radius: 50%;
        border: 2px solid $secondary-color;
        margin-right: 10px;
      }
    }

    .dropdown-link:hover {
      color: $primary-color;
      cursor: pointer;
    }

    .dropdown-menu {
      .nav-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 15px;

        p {
          margin-left: 10px;
          margin-bottom: 0px;
          font-weight: 600;
        }

        i {
          width: 15px;
        }
      }

      .nav-link:hover {
        color: $primary-color;
      }
    }
  }
}