@import '../../sass/colors';

.sass-NavigationBar {
  background: $fourth-color;

  .navbar {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }

  ul {
    .nav-link {
      color: $secondary-color;
      font-weight: 600;
      font-size: 20px;
      transition: color 0.5s;
    }

    .nav-link:hover {
      color: $primary-color;
    }
  }
}