@import '../../sass/colors';

$coverSize: 300;

.sass-BookForm {
    margin-top: 50px;
    color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .dropZone {
        padding: 0px;
        
        .noUploadedFile {
            background-color: white;
            width: $coverSize;
            height: $coverSize*1.6;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            color: $secondary-color;

            img {
                width: 100px;
                height: 100px;
            }

            h4 {
                font-size: 2.5em;
                font-weight: bold;
            }

            p {
                font-size: 1em;
                padding: 0px 50px;
                font-weight: bold;
            }
        }

        img {
            width: $coverSize;
            height: $coverSize*1.6;
        }
    }    

    .form {
        width: 60%;

        .formData {
            width: 70%;
        }

        label {
            font-weight: bold;
        }

        input {
            color: $secondary-color;
        }

        textarea {
            color: $secondary-color;
        }

        input:focus {
            color: $secondary-color;
        }

        textarea:focus {
            color: $secondary-color;
        }
    }

    .btn {
        background-color: $secondary-color;
        color: white;
        font-weight: 600;
        padding: 10px 50px 10px 50px;
        align-self: left;
        margin-top: 30px;

        transition: all 0.5s;
    }

    .btn:hover {
        cursor: pointer;
        color: $secondary-color;
        background-color: $primary-color;
    }
}