@import '../../sass/colors';

$coverSize: 300;

.sass-BookForm {
    color: $secondary-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .card {
        border-color: $secondary-color;
        margin: 50px 0px 50px 0px;
        width: 90%;
    }

    .loader {
        border-top-color: $secondary-color;
        width: 100px;
        height: 100px;
    }

    .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .formData {
            width: 50%;
        }

            .dropZone {
                margin-top: 10px;

                .noUploadedFile {
                    border: 2px dashed $secondary-color;
                    background-color: rgba(0,0,0,0.1);
                    width: $coverSize;
                    height: $coverSize*1.6;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h4 {
                        color: $secondary-color;
                        font-weight: 600;
                    }

                    p {
                        color: $fourth-color;
                    }
                }

                img {
                    width: $coverSize;
                    height: $coverSize*1.6;
                }
            }    
    }

    .btn {
        background-color: $primary-color;
        color: $fourth-color;
        font-weight: 600;
        padding: 10px 50px 10px 50px;
        align-self: left;
        margin-top: 30px;

        transition: all 0.5s;
    }

    .btn:hover {
        color: $primary-color;
        background-color: $fourth-color;
    }
}