@import '../../sass/colors';

.sass-Book {
    margin-top: 50px;
    color: $secondary-color;

    .header {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
        }

        .buttons {
            button {
                background: transparent;
                transition: all 0.5s;
                border: none;
            }

            button:hover {
                cursor: pointer;
                color: $secondary-color;
            }

            button:focus {
                outline: none;
            }

            .green {
                color: #5CB85C;
            }

            .red {
                color: #D9534F;
            }
        }

        i {
            margin: 0px 20px;
            font-size: 30px;
        }

        h4 {
            margin: 0px;
            font-size: 25px;
            font-weight: bold;
        }
    }

    .book {
        display: flex;
        flex-direction: column;
    }

}