@import '../../sass/colors';

$coverSize: 280;

.sass-Book {
    margin-top: 50px;
    color: $secondary-color;

    .header {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
        }

        .buttons {
            button {
                background: transparent;
                transition: all 0.5s;
                border: none;
            }

            button:hover {
                cursor: pointer;
                color: $secondary-color;
            }

            button:focus {
                outline: none;
            }

            .green {
                color: #5CB85C;
            }

            .red {
                color: #D9534F;
            }
        }

        i {
            margin: 0px 20px;
            font-size: 30px;
        }

        h4 {
            margin: 0px;
            font-size: 25px;
            font-weight: bold;
        }
    }

    .book {
        display: flex;
        flex-direction: column;

        .bookInfo {
            display: flex;
            justify-content: space-between;

            .cover {
                width: 25%;

                img {
                    box-shadow: 0px 0px 15px #8a8a8a;
                    width: $coverSize;
                    height: $coverSize*1.6;
                    border-radius: 20px;
                }
            }

            .info {
                background: white;
                box-shadow: 0px 0px 15px #8a8a8a;
                padding: 20px;
                width: 70%;

                .body {
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 75%;

                    .title {
                        display: flex;
                        justify-content: space-between;

                        h2 {
                            font-weight: bold;
                        }

                        p { 
                            font-weight: bold;
                        }

                        .vote {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            width: 70px;
                            height: 70px;
    
                            p {
                                margin: 0;
                                color: white;
                                font-weight: bold;
                                font-size: 1.5em;
                            }
                        }
    
                        .green {
                            background: #5CB85C;
                        }
    
                        .red {
                            background: #D9534F;
                        }
    
                        .grey {
                            background: #292B2C;
                        }
                    }

                    .summary {
                        margin-top: 20px;

                        .show {
                            background: transparent;
                            padding: 0px;
                            border: none;

                            div {
                                display: flex;
                                color: $secondary-color;
                                font-weight: bold;

                                p {
                                    margin: 0px;
                                }

                                i {
                                    margin: 0px 10px;
                                    font-size: 20px;
                                }
                            }
                        }

                        .show:hover {
                            cursor: pointer;
                        }

                        .show:focus {
                            outline: none;
                        }
                    }

                    .likes {
                        display: flex;
                        justify-content: space-around;

                        button {
                            background: transparent;
                            border: none;

                            i {
                                color: $secondary-color;
                                font-size: 50px;
                                transition: all 0.5s;
                            }
                        }

                        button:hover {
                            cursor: pointer;
                        }


                        button:focus {
                            outline: none;
                        }

                        .like:hover i {
                            color: #5CB85C;
                        }

                        .dislike:hover i {
                            color: #D9534F;
                        }

                        .liked i {
                            color: #5CB85C;
                        }

                        .disliked i {
                            color: #D9534F;
                        }

                        .liked:hover i {
                            color: $secondary-color;
                        }

                        .disliked:hover i {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }

        .comments {
            margin-top: 50px;
            background: white;
            box-shadow: 0px 0px 15px #8a8a8a;
            padding: 20px;
            width: 100%;

            .noComments {
                color: #8a8a8a;
                
                h2 {
                    font-size: 1.5em;
                }
            }

            .commentHeader {
                display: flex;

                img {
                    border-radius: 50%;
                    width: 70px;
                }

                .userInfo {
                    margin: 0px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h5 {
                        font-weight: bold;
                        font-size: 1.2em;
                        margin: 0px;
                    }

                    p {
                        margin: 0px;
                    }
                }
            }

            .list-group {
                margin-top: 30px;
                border-radius: 0px;

                .list-group-item {
                    margin: 5px;
                    border: none;
                    border-radius: 0px;
                    border-bottom: 1px solid $secondary-color;

                    .text {
                        margin: 20px 0px;
                        width: 80%;
                        white-space: pre-wrap;       /* Since CSS 2.1 */
                        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                        white-space: -pre-wrap;      /* Opera 4-6 */
                        white-space: -o-pre-wrap;    /* Opera 7 */
                        word-wrap: break-word;
                        font-family: 'Lato';
                        color: $secondary-color;
                        font-size: 1em;                        
                    }
                }
            }
        }
    }
}