@import '../../../sass/colors';

.sass-BookLendingHistoryForm {
    width: 30%;
    height: 300px;

    .btn {
        margin-top: 20px;
        width: 100%;
        background-color: $secondary-color;
        color: white;
        transition: all 0.5s;
    }

    .btn:hover {
        cursor: pointer;
        background-color: $primary-color;
        color: $secondary-color;
    }
}