@import '../../sass/colors';

.sass-ResetPasswordForm {
    color: $secondary-color;
    font-weight: 600;
    min-width: 700px;

    .btn {
        width: 100%;
        margin-top: 20px;
        background-color: $secondary-color;
        color: white;
        font-weight: bold;

        transition: all 0.5s;
    }

    .btn:hover {
        cursor: pointer;
        color: $secondary-color;
        background-color: $primary-color;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        h4 {
            font-weight: bold;
            margin: 0px 0px 0px 20px;
        }

        i {
            font-size: 2em;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;

        .loader {
            align-self: center;
        }
    }
}