@import '../../sass/colors';

.sass-ResetPasswordPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 500px;
    color: $secondary-color;
    
    .card {
        border-color: $secondary-color;
        }
}