@import '../../sass/colors';

.sass-Settings {
    color: $secondary-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .card {
        border-color: $secondary-color;
        margin: 50px 0px 50px 0px;
    }

    .form {
        width: 90%;
    }
}