@import '../../sass/colors';

.sass-Settings {
    color: $secondary-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .forms {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .FormFlexItem-User {
        width: 80%;
    }

    .FormFlexItem-Avatar {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .card {
        border-color: $secondary-color;
        margin: 50px 50px 50px 50px;
    }

    .loader {
        border-top-color: $secondary-color;
    }

    .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
}